@font-face {
  font-family: "Helvetica Neue";
  src: url(/NEWINSPIRE/Fonts/helveticaneue/HelveticaNeueLt.ttf);
  }
* {
    font-family: "Helvetica Neue";
    font-weight:200;
    line-height: 120%;
  }

.overflow
{
	overflow-x: hidden;
}

.TitleCard
{
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:10%;
	width: 100%;
	max-height: 70px;
	min-height: 70px;
	z-index: -1;
	background-color: rgb(158,20,34);
	color:white;
	display:flex;
    align-items: center;
    justify-content:flex-start;

}

.TitleCard h1
{
	font-weight: 500;
	font-size:2em;
	position:relative;
	left:1.2em;
	cursor: pointer;
	
}

.TitleCardMobile
{
	position: fixed;
	top:0;
	left:0;
	right:0;
	height:10%;
	width: 100%;
	max-height: 70px;
	min-height: 70px;
	z-index: -1;
	background-color: rgb(158,20,34);
	color:white;
	display:flex;
    align-items: center;
    justify-content:flex-start;

}

.TitleCardMobile h1
{
	font-weight: 500;
	font-size:2em;
	position:relative;
	left:1.2em;
	cursor: pointer;
	
}

.footerCSS
{
	background-color: #091730;
	color:white;
	position: fixed;
	bottom: 0;
	right:0;
	left:0;
	width:100%;
	height:35px;
	display:flex;
    align-items: center;
    justify-content:flex-start;
}

.footerCSS h3
{
	position: relative;
	left:1.2em;
}

.footerCSSMobile
{
	display: none;
}

.menubar {
	position: absolute;
	top:0;
	right:0;
	width:900px;
}

.menubar button {
	float: right;
	background-color: rgb(158,20,34);
	border:none;
    color: white;
	font-size: 100%;
    text-align: center;
    text-decoration: none;
	padding: 2% 3.5%;
	max-height: 70px;
	min-height: 70px;
	max-width: 170px;
	cursor: pointer;
}

.menubar button:hover {
    background-color: white;
	color:black;
}

.menubar a
{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	z-index: 5;
}

.menubar a:hover {background-color: #ddd}

.menubarMobile {
	position: fixed;
	top:0;
	right:0;
	width:900px;
}

.menubarMobile button {
	float: right;
	background-color: rgb(158,20,34);
	border:none;
    color: white;
	font-size: 100%;
    text-align: center;
    text-decoration: none;
	padding: 2% 3.5%;
	max-height: 70px;
	min-height: 70px;
	max-width: 170px;
	cursor: pointer;
}

.menubarMobile button:hover {
    background-color: white;
	color:black;
}

.menubarMobile a
{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	z-index: 5;
}

.menubarMobile a:hover {background-color: #ddd}

.menubar button:hover {
    background-color: white;
	color:black;
}


.Modules
{
	position: relative;
}
.bodyCenter
{
	width:1300px;
	margin: auto;  
	position: absolute;
	left:0;
	right: 0;
	top: 70px;
	bottom: 0;
	z-index: -6;
}


.topicDropdown-content {
    display: none;
    position: absolute;
	top:100%;
	right:29.6%;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}
.IBdropdown-content {
    display: none;
    position: absolute;
	top:0px;
	right:-126%;
    background-color: #f1f1f1;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}
.IGCSEdropdown-content {
    display: none;
    position: absolute;
	top:48px;
	right:-126%;
    background-color: #f1f1f1;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.contactDropdown-Content {
    display: none;
    position: absolute;
	top:100%;
	right:14.5%;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}
.purchaseDrop-content {
    display: none;
    position: absolute;
	top:100%;
	left:6.4%;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}
.moreDrop-content {
    display: none;
    position: absolute;
	top:100%;
	left:13.65%;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.topicDropdown:hover .topicDropdown-content {
    display: block;
}
.IBdropdown:hover .IBdropdown-content {
    display: block;
}
.IGCSEdropdown:hover .IGCSEdropdown-content {
    display: block;
}
.contactDropdown:hover .contactDropdown-Content {
    display: block;
}
.purchaseDrop:hover .purchaseDrop-content {
    display: block;
}
.moreDrop:hover .moreDrop-content {
    display: block;
}

.books
{
	position:absolute;
	width:600px;
	height: 225px;
	top:15px;
	left:5px;
	background-color: white;
	margin-bottom: 50px;
	z-index: -2;
}
.books img
{
	width:150px;
	position: absolute;
	bottom: 0;
}
.bookButtons button
{
	background-color: #555555;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	cursor: pointer;
}
.bookButtons a
{
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.bookButtons a:hover {background-color: #ddd}

.bookButtons button:hover {
    background-color:#737373;
}

.bookButtons
{
	position: absolute;
	left:250px;
	top: 206px;
	width: 100%;
}
.books .Synopsis
{
	
	position: absolute;
	top:0px;
	right:10px;
	left:160px;
	text-align: justify;
}

.Synopsis p, h3
{
	line-height:8px;
}

.bookButtons .purchaseDrop, .moreDrop, button
{
	display:inline;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

#topicModule
{
	position: absolute;
	width:600px;
	height: 225px;
	top:20px;
	left:675px;
	background-color: white;
	margin-bottom: 50px;
	z-index: -2;
}

#topicModule img
{
	width:100%;
	position: relative;
	cursor: pointer;
}

#bioSlideImg{position:relative;}
#chemSlideImg{position:relative;}
#phySlideImg{position:relative;}
#hisSlideImg{position:relative;}
#geoSlideImg{position:relative;}

#topicModule span
{
	cursor: pointer;
	position: absolute;
	z-index: 1;
	top:0;
	left:0;
	background-color:#091730;
    color:white;
    border-bottom-right-radius: 25px;
	padding: 10px 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
	height: 50%;
	position: relative;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
	position: absolute;
	top:0px;
	right:13px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#vidfactModule
{
	position:absolute;
	width:600px;
	height: 225px;
	top:310px;
	left:5px;
	background-color:white;
	margin-bottom: 50px;
	z-index: -2;
}
#video iFrame
{
	height:225px;
	width:200px;
}
#fact
{
	position: absolute;
	width:380px;
	right:10px;
	text-align: justify;
	top:-18px;
}
#vidFactButtons
{
	position: relative;
	bottom:246px;
	right:-40px;
}

#Modalvideo iFrame
{
	position: absolute;
	width:50%;
	height: 90%;
}
#Modalfacts
{
	position: absolute;
	width:40%;
	right:4%;
	top:1%;;
}